<div class="create-watch">
    <a class="btn btn-success" href="/watches/new">Create a New Watch</a>
</div>

<% if @watches.count == 0 %>
  <h1>You Have No Watches</h1>
<% else %>
  <h1>My Watches</h1>

  <div class="row-fluid marketing">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Search Term</th>
            <th>Matches</th>
          </tr>
        </thead>
        <tbody>
        <% @watches.each do |watch| %>
          <tr>
            <td>
              <%= link_to 'Delete', watch_path(watch), :confirm => 'Are you sure?', :method => :delete %>

            <td><%= watch.term %></td>
            <td><a href="/watches/<%= watch.id %>"><%= watch.petitions.count %> matches</a></td>
            <td>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
<% end %>