<div class="jumbotron">
  <h1>Get Petition Alerts</h1>
  <p class="lead">If you want to participate in letting the White House know what you care about, tell us and we'll keep an eye on the petitions for you so you can participate in anything that concerns you.</p>
  <% if @current_user %>
    <a class="btn btn-large btn-success" href="/watches/new">Set your petition alerts now</a>
  <% else %>
    <a class="btn btn-large btn-success" href="/auth/github">Set your petition alerts now</a>
  <% end %>

  <img src="/seal.png">

</div>
